* {
  padding: 0;
  margin: 0;
}

:root {
  --body-background: hsl(218, 22%, 67%);
  --join-background: hsl(204, 43%, 93%);
  --sub-background: hsl(179, 62%, 43%);
  --about-background: hsl(179, 52%, 48%);
  --guarantee-color: hsl(71, 73%, 54%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-background);
  font-family: 'Karla', sans-serif;
}

.container {
  margin: 0 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  overflow: hidden;
}

.join {
  background-color: var(--join-background);
  padding: 24px 16px 32px 16px;
}

.join h2 {
  color: var(--sub-background);
  margin-bottom: 24px;
}

.join h3 {
  color: var(--guarantee-color);
  margin-bottom: 24px;
}

.join p {
  color: var(--body-background);
  line-height: 24px;
}

.subscription {
  background-color: var(--sub-background);
  color: white;
  padding: 16px;
}

.subscription p:nth-child(1) {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subscription p:nth-child(2) {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: hsl(180, 32%, 82%);
}

.subscription p:nth-child(2) span {
  font-size: 2rem;
  margin-right: 8px;
  color: white;
}

.subscription p:nth-child(3) {
  margin-bottom: 24px;
}

.subscription button {
  width: 100%;
  padding: 16px 24px;
  border-radius: 10px;
  background-color: var(--guarantee-color);
  border: none;
  color: white;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.subscription button:hover {
  transform: scale(1.02);
}

.about {
  background-color: var(--about-background);
  padding: 16px;
  color: hsl(180, 32%, 82%);
  padding: 24px 16px;
  line-height: 20px;
}

.about p:nth-child(1) {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'a a'
      'b c';
  }

  .join {
    grid-area: a;
    padding: 32px 0 0 32px;
  }

  .join p {
    max-width: 80%;
  }
  .subscription {
    grid-area: b;
    padding: 32px;
  }
  .about {
    grid-area: c;
    padding: 32px;
  }
}
